<html lang="en" class=" dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statices 3</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body class=" dark:bg-gray-900">
    <section class=" max-w-5xl mx-auto m-28 px-5 sm:px-10 xl:px-0">
        <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 shadow-lg p-5 px-10">
            <div>
                <p class=" text-2xl font-bold dark:text-white">Have <span class=" text-blue-600">25 years</span>
                 of Experiences </p>
                  <p class=" text-sm text-gray-800 dark:text-gray-300 text-justify mt-3">
                    Experience refers to conscious events in general, more specifically to perceptions.
                  </p>
                  <button class=" mt-3 bg-blue-600 text-white text-center font-medium text-sm hover:bg-blue-500 rounded-full px-6 py-2"> Submit</button>
            </div>
            <div class="p-5 bg-blue-50 dark:bg-gray-800 grid justify-center text-blue-600">
                <a href="#">
                    <svg stroke="currentColor" fill="none" stroke-width="1.5" viewBox="0 0 24 24" aria-hidden="true" class=" w-16 h-16 mt-5" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18"></path></svg>
                </a>
                <p class=" font-bold text-2xl mx-auto ml-2  text-center "> 375+</p>
                <p class=" font-medium text-sm mx-auto"> Experience </p>

            </div>
            <div class="p-5 bg-blue-50 dark:bg-gray-800 grid justify-center text-blue-600">
                <a href="#">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"  class=" w-16 h-16 mt-5 mx-auto" xmlns="http://www.w3.org/2000/svg"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path></svg>
                </a>
                <p class=" font-bold text-2xl mx-auto ml-2  text-center "> 9808+</p>
                <p class=" font-medium text-sm mx-auto"> Employees </p>

            </div>
            <div class="p-5 bg-blue-50 dark:bg-gray-800 grid justify-center text-blue-600">
                <a href="#">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class=" w-16 h-16 mt-5 mx-auto"  xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"></path></svg>
                </a>
                <p class=" font-bold text-2xl mx-auto ml-2  text-center "> 3005+</p>
                <p class=" font-medium text-sm mx-auto"> Experience </p>

            </div>



        </div>
        
    </section>
    
</body>
</html>