<html lang="en" class=" ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team 2</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body class=" dark:bg-gray-900">
    <section class=" px-5 xl:px-0 max-w-6xl  mx-auto py-10">
        <div>
            <p class=" text-3xl sm:text-5xl font-bold text-center  text-blue-600 subpixel-antialiased ">Our Best Team</p>
            <p class="text-center mt-3 text-gray-600 text-sm sm:text-base dark:text-gray-300">Our team is a highly motivated and dynamic group of professionals.</p>
        </div>

      <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mt-10">
        <div class=" bg-white dark:bg-gray-800 w-full rounded-md shadow-lg py-8 p-3">
            <div class=" flex justify-between">
                <a href="#" class=" focus:animate-bounce focus:text-blue-600 focus:fill-blue-600  ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" stroke="currentcolor" stroke="none" class="w-6 h-6 fill-white focus:fill-blue-600">
                        <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                      </svg>
                    
                      
                      
                  </a>
                  <a href="#" class=" px-1 rounded bg-gray-100 dark:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-600 dark:stroke-gray-300">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                      </svg>
                      
                  </a>
                  
            </div>
            <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fG1lbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"  class=" mx-auto dark:ring-2 dark:ring-gray-700 rounded-full w-36 h-36 object-cover" alt=""/>


            <p class=" text-center text-xl font-bold text-gray-900 dark:text-blue-600 mt-5">Allyson Booker</p>
            <p class=" text-center mt-1 dark:text-gray-400 text-gray-800">Designer</p>

            <a href="allysionbookers@gamil.com" class=" mt-2 text-gray-600 dark:text-gray-300 text-center flex justify-center" > allysionbookers@gamil.com</a>


        </div>
        <div class=" bg-white dark:bg-gray-800 w-full rounded-md shadow-lg py-8 p-3">
            <div class=" flex justify-between">
                <a href="#" class=" focus:animate-bounce text-blue-600 fill-blue-600  ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" stroke="currentcolor" stroke="none" class="w-6 h-6 fill-blue-600">
                        <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                      </svg>
                    
                      
                      
                  </a>
                  <a href="#" class=" px-1 rounded bg-gray-100 dark:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-600 dark:stroke-gray-300">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                      </svg>
                      
                  </a>
                  
            </div>
            <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"  class=" mx-auto dark:ring-2 dark:ring-gray-700 rounded-full w-36 h-36 object-cover" alt=""/>


            <p class=" text-center text-xl font-bold text-gray-900 dark:text-blue-600 mt-5">Angelina Jully</p>
            <p class=" text-center mt-1 dark:text-gray-400 text-gray-800">UI & UX</p>

            <a href="allysionbookers@gamil.com" class=" mt-2 text-gray-600 dark:text-gray-300 text-center flex justify-center" > angelinajully@gamil.com</a>


        </div>
        <div class=" bg-white dark:bg-gray-800 w-full rounded-md shadow-lg py-8 p-3">
            <div class=" flex justify-between">
                <a href="#" class=" focus:animate-bounce focus:text-blue-600 focus:fill-blue-600  ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" stroke="currentcolor" stroke="none" class="w-6 h-6 fill-white focus:fill-blue-600">
                        <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                      </svg>
                    
                      
                      
                  </a>
                  <a href="#" class=" px-1 rounded bg-gray-100 dark:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-600 dark:stroke-gray-300">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                      </svg>
                      
                  </a>
                  
            </div>
            <img src="https://images.unsplash.com/photo-1615813967515-e1838c1c5116?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"  class=" mx-auto dark:ring-2 dark:ring-gray-700 rounded-full w-36 h-36 object-cover" alt=""/>


            <p class=" text-center text-xl font-bold text-gray-900 dark:text-blue-600 mt-5">James Camron</p>
            <p class=" text-center mt-1 dark:text-gray-400 text-gray-800">Developer</p>

            <a href="allysionbookers@gamil.com" class=" mt-2 text-gray-600 dark:text-gray-300 text-center flex justify-center" > jamescamron@gamil.com</a>


        </div>
        <div class=" bg-white dark:bg-gray-800 w-full rounded-md shadow-lg py-8 p-3">
            <div class=" flex justify-between">
                <a href="#" class=" focus:animate-bounce text-blue-600 fill-blue-600  ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" stroke="currentcolor" stroke="none" class="w-6 h-6 fill-blue-600">
                        <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                      </svg>
                    
                      
                      
                  </a>
                  <a href="#" class=" px-1 rounded bg-gray-100 dark:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-600 dark:stroke-gray-300">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                      </svg>
                      
                  </a>
                  
            </div>
            <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"  class=" mx-auto dark:ring-2 dark:ring-gray-700 rounded-full w-36 h-36 object-cover" alt=""/>


            <p class=" text-center text-xl font-bold text-gray-900 dark:text-blue-600 mt-5">Allye Petison</p>
            <p class=" text-center mt-1 dark:text-gray-400 text-gray-800">Manager</p>

            <a href="allysionbookers@gamil.com" class=" mt-2 text-gray-600 dark:text-gray-300 text-center flex justify-center" > allyepetison@gamil.com</a>


        </div>

      </div>

    </section>
    
</body>
</html>