<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balencesheet</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body>
    <section class=" px-10 py-10 mx-auto">
        <div class="bg-white p-3 rounded-lg shadow-lg mt-10 ">
            
                <div class=" ">
                    <p class=" text-4xl font-medium subpixel-antialiased  text-indigo-600">Balance Sheet</p>
                     
                </div>
                <p class=" mt-2  text-gray-500 subpixel-antialiased text-lg">Consolidated Figures in Rs. Crores</p>
                


            

          
       <div class='w-full mt-5 px-2'>
        <div class=" grid grid-cols-15 border-b-2 pb-3   gap-3 antialiased  text-gray-600">
            <div class=" col-span-2 flex gap-5">
              
            

               
            </div>
            <div class="flex gap-1 ">
                Mar 2011	

            </div>
            <div class=" ">
                Mar 2012	 

            </div>
            <div class="break-words   ">
                Mar 2013

            </div>
            <div class="  ">
                Mar 2014	


            </div>
            <div class="  ">
                Mar 2015


            </div>
            <div class="  ">
                Mar 2016


            </div>
            <div class="  ">
                Mar 2017

           </div>
           <div class="  ">
            Mar 2018

       </div>
       <div class="  ">
        Mar 2019


   </div>
   <div class="  ">
    Mar 2020


</div>
<div class="  ">
    Mar 2021


</div>
<div class="  ">
    Mar 2022


</div>
<div class="  ">
    Sept    2022

</div>
      
           
            
            


        </div>
        <div class=" grid grid-cols-15 bg-gray-100 p-1.5   gap-3 antialiased   text-gray-600">
            <div class=" col-span-2 flex gap-1 ">
             Share Captial <p class=" text-indigo-600 font-medium">+</p>
              </div>
              

            

               
            
            <div >
                40
               

            </div>
            <div>
                40	
            </div>
            <div>
                42	
            </div>
            <div>
                42	
            </div>
            <div>
                
                84
            </div>
            <div>
                168		
            </div>
            <div>
                168
            </div>
            <div>
                
                164
            </div>
            <div>
                164
            </div>
            <div>
                165	
            </div>
            <div>
        165
            </div>
           <div>
            165	
           </div>
           <div>
            165
           </div>
           
      
           
            
            


        </div>
        <div class=" grid grid-cols-15  p-1.5   gap-3 antialiased   text-gray-600">
            <div class=" col-span-2 flex gap-1 ">
                Reserves
              </div>
              

            

               
            
            <div >
                736	
               

            </div>
            <div>
                917
            </div>
            <div>
                1,272	
            </div>
            <div>
                1,599	
            </div>
            <div>
                
                1,929
            </div>
            <div>
                2,247	
            </div>
            <div>
                2,409	
            </div>
            <div>
                
                2,578
            </div>
            <div>
                3,142
            </div>
            <div>
                2,992	
            </div>
            <div>
                4,154
            </div>
           <div>
            5,309
           </div>
           <div>
            5,504
           </div>
           
      
           
            
            


        </div>
        
        <div class=" grid grid-cols-15 bg-gray-100 p-1.5   gap-3 antialiased   text-gray-600">
            <div class=" col-span-2 flex gap-1 ">
                Borrowings  <p class=" text-indigo-600 font-medium">+</p>
              </div>
              

            

               
            
            <div >
                5
               

            </div>
            <div>
                45	
            </div>
            <div>
                25	
            </div>
            <div>
                3	
            </div>
            <div>
                
                3
            </div>
            <div>
                3		
            </div>
            <div>
                44
            </div>
            <div>
                
                100
            </div>
            <div>
                301
            </div>
            <div>
                1	
            </div>
            <div>
        567
            </div>
           <div>
            538
           </div>
           <div>
            556
           </div>
           
      
           
            
            


        </div>
        <div class=" grid grid-cols-15 border-b-2  p-1.5   gap-3 antialiased   text-gray-600">
            <div class=" col-span-2 flex gap-1 ">
                Other Liabilities   <p class=" text-indigo-600 font-medium">+</p>
              </div>
              

            

               
            
            <div >
                234
               

            </div>
            <div>
                332	
            </div>
            <div>
                352	
            </div>
            <div>
                456	
            </div>
            <div>
                
                640
            </div>
            <div>
                818		
            </div>
            <div>
                714
            </div>
            <div>
                
                694
            </div>
            <div>
                872
            </div>
            <div>
                1,433		
            </div>
           
           <div>
            1,505
           </div>
           <div>
            2,128
           </div>
           <div>
            2,183
        </div>
           
      
           
            
            


        </div>
        <div class=" grid grid-cols-15   p-1.5   gap-3 antialiased  font-semibold  text-gray-900">
            <div class=" col-span-2 flex gap-1 ">
                Total Liabilities   
              </div>
              

            

               
            
            <div >
                1,014	
               

            </div>
            <div>
                1,335
            </div>
            <div>
                1,691
            </div>
            <div>
                2,099	
            </div>
            <div>
                
                2,655
            </div>
            <div>
                3,277		
            </div>
            <div>
                3,391
            </div>
            <div>
                
                3,736
            </div>
            <div>
                4,179
            </div>
            <div>
                5,157		
            </div>
           
           <div>
            6,361
           </div>
           <div>
            8,157
           </div>
           <div>
            8,465
        </div>
           
      
           
            
            


        </div>
       
      

       </div>
      


        </div>

    </section>
    
</body>
</html>