<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body>
    <section class="  justify-center">
            <div class=" relative">
                <img src="https://media.istockphoto.com/id/1384646810/photo/golden-bull-and-bear-on-stock-data-chart-background-investing-stock-exchange-financial.jpg?b=1&s=170667a&w=0&k=20&c=8QhNSLCT2yTW5oVGtVoswFOyjsunTU_L3nsdXkXWeMg=" alt="" class=" w-full h-full"/>
                <div class=" absolute inset-0">
        <div class=" max-w-sm mt-10 px-12 rounded-lg shadow-lg text-teal-400 grid justify-center  mx-auto bg-gray-800 dark:bg-gray-600/50">
            <div>
                <p class="  font-bold text-center mt-7 text-4xl ">
                      LOGIN
                </p>
                </div>
                <div class="mt-12  ">
                 <label for=""> Username</label>
                 <div class=" flex justify-between p-2 border-b-2 ">
                    <input type="text" class=" bg-transparent text-gray-100 focus:outline-none" name="" id=""/>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7  " viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                      </svg>
                 </div>
              
          
                   
                
                
              
            
              </div>
              <div class="mt-12">
                <label for=""> Password</label>
                 <div class=" flex justify-between p-2 border-b-2 ">
                    <input type="password" class=" bg-transparent text-gray-100 focus:outline-none" name="" id=""/>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                      </svg>
                 </div>
              
          
               
             
           
             
             </div>
             <div class="pb-10 mx-auto">
             <button class="px-24 mt-12 py-3 hover:bg-teal-600 font-medium  text-white bg-teal-500  rounded-full">Login</button>
            </div> 
            </div>
            </div>
            </div>
            
        
        </section>
    
</body>
</html>