<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body>
    <section class=" bg-gray-50  max-w-5xl mx-auto py-10">
        <h1 class=" uppercase text-center text-2xl font-bold text-gray-800 subpixel-antialiased"> Stock market analysis</h1>
        
            
                <img src="https://media.istockphoto.com/id/1322201350/photo/digitally-enhanced-shot-of-a-graph-showing-the-ups-and-downs-shares-on-the-stock-market.jpg?b=1&s=170667a&w=0&k=20&c=IvUFBAPGMXUQ8oPREy1JfI_cZEKjoqORVl5NoUjo-4o=" class=" mt-5 w-full h-96 rounded-lg shadow-lg" alt=""/>

      
            <div class=" w-full space-y-2 mt-5">

                <p class=" text-sm text-gray-600"> 13 Mintues ago</p>
                <p class=" text-4xl font-bold subpixel-antialiased">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nihil, delectus quo eos harum at, consequuntur reiciendis .</p>
                <p class=" text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat velit fugit reiciendis perspiciatis ab officiis consequatur molestias adipisci iure. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit eaque enimlor
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laboriosam voluptatum vitae omnis! Animi modi possimus corrupti dignissimos a provident voluptatem commodi perferendis necessitatibus, quo accusantium aliquam repellat magnam sed!Lorem .</p>

            </div>

    

    </section>
    
</body>
</html>