<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body>
    <section class=" max-w-6xl mx-auto py-10">
        <!--here where the market index points readings goes hrere -->
        <div class=" bg-gray-100 py-3  grid grid-cols-6 ">
            <div class="  grid justify-center border-r-2 border-gray-200">
                <p class=" text-sm font-bold subpixel-antialiased text-indigo-600 uppercase">SAP 500</p>
                <p class=" text-sm font-medium  antialiased text-gray-800">18000 </p>
                <p class="text-green-600 text-sm"> +50.75(5.50)</p>
    
             </div>
             <div class="  grid justify-center border-r-2 border-gray-200">
                <p class=" text-sm font-bold subpixel-antialiased text-indigo-600 uppercase">Nastaq</p>
                <p class=" text-sm font-medium  antialiased text-gray-800">18000 </p>
                <p class="text-green-600 text-sm"> +50.75(5.50)</p>
    
             </div>
             <div class="  grid justify-center border-r-2 border-gray-200">
                <p class=" text-sm font-bold subpixel-antialiased text-indigo-600 uppercase">Dow Jones</p>
                <p class=" text-sm font-medium  antialiased text-gray-800">18000 </p>
                <p class="text-green-600 text-sm"> +50.75(5.50)</p>
    
             </div>
             <div class="  grid justify-center border-r-2 border-gray-200">
                <p class=" text-sm font-bold subpixel-antialiased text-indigo-600 uppercase">Gold</p>
                <p class=" text-sm font-medium  antialiased text-gray-800">18000 </p>
                <p class="text-green-600 text-sm"> +50.75(5.50)</p>
    
             </div>
             <div class="  grid justify-center border-r-2 border-gray-200">
                <p class=" text-sm font-bold subpixel-antialiased text-indigo-600 uppercase">Sliver</p>
                <p class=" text-sm font-medium  antialiased text-gray-800">18000 </p>
                <p class="text-green-600 text-sm"> +50.75(5.50)</p>
    
             </div>
             <div class="  grid justify-center ">
                <p class=" text-sm font-bold subpixel-antialiased text-indigo-600 uppercase">Crude Oil</p>
                <p class=" text-sm font-medium  antialiased text-gray-800">18000 </p>
                <p class="text-green-600 text-sm"> +50.75(5.50)</p>
    
             </div>

        </div>

        <div>
            <h1 class=" uppercase text-lg font-bold text-gray-800 subpixel-antialiased mt-5">Stock Market News</h1>
            <div>
                <div class=" flex gap-5 w-full mt-5">
                    <div class=" w-3/12 ">
                        <img src="https://media.istockphoto.com/id/1322201350/photo/digitally-enhanced-shot-of-a-graph-showing-the-ups-and-downs-shares-on-the-stock-market.jpg?b=1&s=170667a&w=0&k=20&c=IvUFBAPGMXUQ8oPREy1JfI_cZEKjoqORVl5NoUjo-4o=" class=" rounded-lg shadow-lg" alt=""/>

                    </div>
                    <div class=" w-9/12 space-y-2">

                        <p class=" text-sm text-gray-600"> 13 Mintues ago</p>
                        <p class=" text-xl font-bold subpixel-antialiased">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nihil, delectus quo eos harum at, consequuntur reiciendis .</p>
                        <p class=" text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat velit fugit reiciendis perspiciatis ab officiis consequatur molestias adipisci iure. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit eaque enim .</p>

                    </div>

                </div>
                <div class=" flex gap-5 w-full mt-5">
                    <div class=" w-3/12 ">
                        <img src="https://media.istockphoto.com/id/1367899897/photo/group-of-people-meeting-with-technology-and-paperwork.jpg?b=1&s=170667a&w=0&k=20&c=F6DIBS4MVeSEDfSOEX1UCt1fxQ3dr4iTC6NcOv5UnNg=" class=" rounded-lg shadow-lg" alt=""/>

                    </div>
                    <div class=" w-9/12 space-y-2">

                        <p class=" text-sm text-gray-600"> 13 Mintues ago</p>
                        <p class=" text-xl font-bold subpixel-antialiased">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nihil, delectus quo eos harum at, consequuntur reiciendis .</p>
                        <p class=" text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat velit fugit reiciendis perspiciatis ab officiis consequatur molestias adipisci iure. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit eaque enim .</p>

                    </div>

                </div>
                <div class=" flex gap-5 w-full mt-5">
                    <div class=" w-3/12 ">
                        <img src="https://media.istockphoto.com/id/1406742992/photo/businessman-draws-increase-arrow-graph-corporate-future-growth-year-2022-to-2023-planning.jpg?b=1&s=170667a&w=0&k=20&c=hwhDfFSJET9J1A6mRK9sTJQn2hQs3Bo_kizTqasrPwA=" class=" rounded-lg shadow-lg" alt=""/>

                    </div>
                    <div class=" w-9/12 space-y-2">

                        <p class=" text-sm text-gray-600"> 13 Mintues ago</p>
                        <p class=" text-xl font-bold subpixel-antialiased">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nihil, delectus quo eos harum at, consequuntur reiciendis .</p>
                        <p class=" text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat velit fugit reiciendis perspiciatis ab officiis consequatur molestias adipisci iure. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit eaque enim .</p>

                    </div>

                </div>
                <div class=" flex gap-5 w-full mt-5">
                    <div class=" w-3/12 ">
                        <img src="https://media.istockphoto.com/id/1356756815/photo/crash-of-the-stock-exchanges.jpg?b=1&s=170667a&w=0&k=20&c=S4w9-mZE5RQ__EitkiSQ9hkmf_8cuKdhW9reFU_ddxM=" class=" rounded-lg shadow-lg" alt=""/>

                    </div>
                    <div class=" w-9/12 space-y-2">

                        <p class=" text-sm text-gray-600"> 13 Mintues ago</p>
                        <p class=" text-xl font-bold subpixel-antialiased">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nihil, delectus quo eos harum at, consequuntur reiciendis .</p>
                        <p class=" text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat velit fugit reiciendis perspiciatis ab officiis consequatur molestias adipisci iure. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit eaque enim .</p>

                    </div>

                </div>
                <div class=" flex gap-5 w-full mt-5">
                    <div class=" w-3/12 ">
                        <img src="https://media.istockphoto.com/id/1365692265/photo/mid-adult-man-checking-financial-information-on-a-smart-phone-while-doing-his-bookkeeping.jpg?b=1&s=170667a&w=0&k=20&c=4pHGHfPtZV788w2PcPIl7ocshfKa2gkjeipIWsMYQlo=" class=" rounded-lg shadow-lg" alt=""/>

                    </div>
                    <div class=" w-9/12 space-y-2">

                        <p class=" text-sm text-gray-600"> 13 Mintues ago</p>
                        <p class=" text-xl font-bold subpixel-antialiased">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nihil, delectus quo eos harum at, consequuntur reiciendis .</p>
                        <p class=" text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat velit fugit reiciendis perspiciatis ab officiis consequatur molestias adipisci iure. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit eaque enim .</p>

                    </div>

                </div>
                <div class=" flex gap-5 w-full mt-5">
                    <div class=" w-3/12 ">
                        <img src="https://media.istockphoto.com/id/1398619785/photo/investment-and-finance-concept-yellow-down-arrows-over-blue-financial-graph-background.jpg?b=1&s=170667a&w=0&k=20&c=Iulc8dGpOnCD5jpxUmpt329uuuCYItevgC92kqc1OUE=" class=" rounded-lg shadow-lg" alt=""/>

                    </div>
                    <div class=" w-9/12 space-y-2">

                        <p class=" text-sm text-gray-600"> 13 Mintues ago</p>
                        <p class=" text-xl font-bold subpixel-antialiased">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nihil, delectus quo eos harum at, consequuntur reiciendis .</p>
                        <p class=" text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat velit fugit reiciendis perspiciatis ab officiis consequatur molestias adipisci iure. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit eaque enim .</p>

                    </div>

                </div>
                <div class=" flex gap-5 w-full mt-5">
                    <div class=" w-3/12 ">
                        <img src="https://images.unsplash.com/photo-1511883040705-6011fad9edfc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZmluYW5jZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class=" rounded-lg shadow-lg" alt=""/>

                    </div>
                    <div class=" w-9/12 space-y-2">

                        <p class=" text-sm text-gray-600"> 13 Mintues ago</p>
                        <p class=" text-xl font-bold subpixel-antialiased">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nihil, delectus quo eos harum at, consequuntur reiciendis .</p>
                        <p class=" text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat velit fugit reiciendis perspiciatis ab officiis consequatur molestias adipisci iure. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit eaque enim .</p>

                    </div>

                </div>
               
            </div>
        </div>


    </section>
    
</body>
</html>