<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table 3</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body class=" dark:bg-gray-900" >
   
            


     <section class=" max-w-3xl mx-auto px-2 sm:px-10 lg:px-0">
        <div class=" mt-20 overflow-x-scroll pb-10 scroll-smooth  snap-x relative">
           
       <div  class="grid grid-cols-10 sm:grid-cols-11 text-center p-2.5 snap-start scroll-ml-16  w-[68rem] sm:w-[80rem]      rounded-t-lg bg-gray-200 dark:bg-gray-800 text-blue-600 font-medium " >
        <div class="hidden sm:block">

        </div>
        <div>

        </div>
           
           <div>
               ID
           </div>

           <div>
           Manager

           </div>
           <div>
               Role
           </div>
           <div>
                Domain

           </div>
           <div>
               Team
           </div>
           <div>
               Mail ID
           </div>
          
           <div>
               Experience
           </div>
           <div>
               Address

           </div>
           <div class=" text-right">
               Country

           </div>
          
       </div>
       <div class="grid grid-cols-10 sm:grid-cols-11 text-center p-2.5 snap-start scroll-ml-16  w-[68rem] sm:w-[80rem]  border-b-2 dark:border-gray-600 dark:text-neutral-100  dark:bg-gray-700 text-gray-800 font-medium ">
        <div class=" hidden sm:block">

        </div>
        <div>

        </div>
            <div class=" my-auto">
               1

            </div>
            <div class=" my-auto mx-auto">
               <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class=" w-12 h-12 rounded-full object-cover ring-4 ring-gray-300 dark:ring-gray-600" alt=""/>
            </div>
            <div  class="my-auto">
               AI Engineer
            </div>
            <div class="my-auto">
               Python 
            </div>
            <div class="my-auto">
               Digital
            </div>
            <div class="my-auto overflow-hidden">
               example@gmail.com
            </div>
           
            <div class="my-auto">
               3 years
            </div>
            <div class="my-auto">
               93,Mumbai
            </div >
            <div class="my-auto text-right">
               India
            </div>
       </div>
       <div class="grid grid-cols-10 sm:grid-cols-11 text-center p-2.5 snap-start scroll-ml-16  w-[68rem] sm:w-[80rem] border-b-2 dark:border-gray-600  dark:text-neutral-100  dark:bg-gray-700 text-gray-800 font-medium ">
        <div class=" hidden sm:block">

        </div>
        <div>

        </div>
            <div class=" my-auto">
               2

            </div>
            <div class=" my-auto mx-auto">
               <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class=" w-12 h-12 rounded-full object-cover ring-4 ring-gray-300 dark:ring-gray-600" alt=""/>
            </div>
            <div  class="my-auto">
               Blockchain
            </div>
            <div class="my-auto">
               Solana
            </div>
            <div class="my-auto">
               NFT
            </div>
            <div class="my-auto overflow-hidden">
               example@gmail.com
            </div>
           
            <div class="my-auto">
               3 years
            </div>
            <div class="my-auto">
               93,Mumbai
            </div >
            <div class="my-auto text-right">
               India
            </div>
       </div>
       <div class="grid grid-cols-10 sm:grid-cols-11 text-center p-2.5 snap-start scroll-ml-16  w-[68rem] sm:w-[80rem] border-b-2 dark:border-gray-600  dark:text-neutral-100  dark:bg-gray-700 text-gray-800 font-medium ">
        <div class=" hidden sm:block">

        </div>
        <div>

        </div>
            <div class=" my-auto">
               3

            </div>
            <div class=" my-auto mx-auto">
               <img src="https://images.unsplash.com/photo-1474176857210-7287d38d27c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class=" w-12 h-12 rounded-full object-cover ring-4 ring-gray-300 dark:ring-gray-600" alt=""/>
            </div>
            <div  class="my-auto">
               Virtual Reltity
            </div>
            <div class="my-auto">
               Rust
            </div>
            <div class="my-auto">
               META
            </div>
            <div class="my-auto overflow-hidden">
               example@gmail.com
            </div>
           
            <div class="my-auto">
               3 years
            </div>
            <div class="my-auto">
               93,Mumbai
            </div >
            <div class="my-auto text-right">
               India
            </div>
       </div>
       <div class="grid grid-cols-10 sm:grid-cols-11 text-center p-2.5 snap-start scroll-ml-16  w-[68rem] sm:w-[80rem] border-b-2 dark:border-gray-600  dark:text-neutral-100  dark:bg-gray-700 text-gray-800 font-medium ">
        <div class=" hidden sm:block">

        </div>
        <div>

        </div>
            <div class=" my-auto">
               4

            </div>
            <div class=" my-auto mx-auto">
               <img src="https://images.unsplash.com/photo-1511551203524-9a24350a5771?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" class=" w-12 h-12 rounded-full object-cover ring-4 ring-gray-300 dark:ring-gray-600" alt=""/>
            </div>
            <div  class="my-auto">
               Games
            </div>
            <div class="my-auto">
               Rust
            </div>
            <div class="my-auto">
                System
            </div>
            <div class="my-auto overflow-hidden">
               example@gmail.com
            </div>
           
            <div class="my-auto">
               3 years
            </div>
            <div class="my-auto">
               93,Mumbai
            </div >
            <div class="my-auto text-right">
               India
            </div>
       </div>
       <div class="grid grid-cols-10 sm:grid-cols-11 shadow-md roundedb-lg text-center p-2.5 snap-start scroll-ml-16  w-[68rem] sm:w-[80rem]  dark:border-gray-600  dark:text-neutral-100  dark:bg-gray-700 text-gray-800 font-medium ">
        <div class=" hidden sm:block">

        </div>
        <div>

        </div>
            <div class=" my-auto">
               5

            </div>
            <div class=" my-auto mx-auto">
               <img src="https://images.unsplash.com/photo-1529284607059-de6f2f0e661f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXRodW1ibmFpbHx8NzQ5NTE3MjF8fGVufDB8fHx8&dpr=1&auto=format&fit=crop&w=294&q=60" class=" w-12 h-12 rounded-full object-cover ring-4 ring-gray-300 dark:ring-gray-600" alt=""/>
            </div>
            <div  class="my-auto">
               IOS
            </div>
            <div class="my-auto">
               Swift
            </div>
            <div class="my-auto">
                Devs
            </div>
            <div class="my-auto overflow-hidden">
               example@gmail.com
            </div>
           
            <div class="my-auto">
               3 years
            </div>
            <div class="my-auto">
               93,Mumbai
            </div >
            <div class="my-auto text-right">
               India
            </div>
       </div>
       <div class=" absolute inset-0 ">
           <div class= "  sm:w-4/12 lg:w-3/12 xl:w-1/5 shadow-lg sm:fixed ">
           <div class=" p-2.5 text-blue-600 font-medium rounded-tl-lg bg-gray-200 dark:bg-gray-800 ">
               Employee

           </div>
         
               <div class=" flex gap-2 my-auto bg-white dark:bg-gray-700 p-3.5 border-b-2 dark:border-gray-600 font-medium text-gray-800">
                  
                   <p class=" bg-purple-500  rounded-full w-10 h-10 inline-flex justify-center items-center text-center  text-white"> PS</p>
                   <p class=" my-auto dark:text-neutral-100 ">Pricency Samuel</p>


               

           </div>
           <div class=" flex gap-2 my-auto bg-white border-b-2 dark:border-gray-600 dark:bg-gray-700 p-3.5 font-medium text-gray-800">
                  
                   <p class=" bg-cyan-600  rounded-full w-10 h-10 inline-flex justify-center items-center text-center  text-white"> AC</p>
                   <p class=" my-auto dark:text-neutral-100 hidden sm:block">Adam Clark</p>


               

           </div>
           <div class=" flex gap-2 my-auto bg-white border-b-2 dark:border-gray-600 dark:bg-gray-700 p-3.5 font-medium text-gray-800">
                  
            <p class=" bg-teal-600  rounded-full w-10 h-10 inline-flex justify-center items-center text-center  text-white"> TC</p>
            <p class=" my-auto dark:text-neutral-100 hidden sm:block">Tim Cook</p>


        

    </div>
    <div class=" flex gap-2 my-auto bg-white border-b-2 dark:border-gray-600 dark:bg-gray-700 p-3.5 font-medium text-gray-800">
                  
            <p class=" bg-green-600  rounded-full w-10 h-10 inline-flex justify-center items-center text-center  text-white"> TS</p>
            <p class=" my-auto dark:text-neutral-100 hidden sm:block">Tony Stark</p>


        

    </div>
    <div class=" flex gap-2 my-auto bg-white  dark:border-gray-600 dark:bg-gray-700 p-3.5 font-medium text-gray-800">
                  
        <p class=" bg-sky-600  rounded-full w-10 h-10 inline-flex justify-center items-center text-center  text-white"> CB</p>
        <p class=" my-auto dark:text-neutral-100 hidden sm:block">Christian Bale </p>


    

</div>
           </div>
           

       </div>
       </div>
   </section>
   









    </body>
</html>