<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table 2</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body class=" dark:bg-gray-900">
    <section class=" max-w-5xl mx-auto px-5 xl:px-0  ">
        <div class=" bg-white  dark:bg-gray-800 overflow-x-scroll sm:overflow-x-hidden snap-x   rounded-lg shadow-lg  mt-20">
            <div class="snap-start scroll-ml-16  w-[36rem]  sm:w-auto  flex gap-5 p-3 border-b-2 dark:border-gray-700">
                <input type="checkbox" checked  />
                <p class=" font-bold text-gray-800 dark:text-gray-100 subpixel-antialiased ">5 Requested Selected</p>
                
            </div>
            <div class=" snap-start scroll-ml-16  w-[36rem]  sm:w-auto  grid grid-cols-4 lg:grid-cols-6   border-l-4 border-transparent hover:border-blue-600 p-3 font-medium text-gray-600 dark:text-neutral-200 hover:bg-gray-100 dark:hover:bg-gray-700">
               
                <div class=" flex col-span-2 gap-2 my-auto">
                    <input type="checkbox" name="" id=""/>
                    <p class=" bg-blue-600 ml-6 rounded-full w-10 h-10 inline-flex justify-center items-center text-center  text-white"> VP</p>
                    <p class=" my-auto dark:text-neutral-100">Victor Pacheio</p>


                </div>
                <div class=" flex gap-2 my-auto">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class=" w-6 h-6 " xmlns="http://www.w3.org/2000/svg"><path d="M448 336v-40L288 192V79.2c0-17.7-14.8-31.2-32-31.2s-32 13.5-32 31.2V192L64 296v40l160-48v113.6l-48 31.2V464l80-16 80 16v-31.2l-48-31.2V288l160 48z"></path></svg>

                    <p>Annual leave</p>
                   
                   
                </div>
                <div class=" col-span-2 ml-2 my-auto  gap-1 hidden lg:flex">
                    Thu Mar 26 2021
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="w-4 h-4 my-auto"  xmlns="http://www.w3.org/2000/svg"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z"></path></svg>
                      
                       Fri Mar 28 2021
                </div>
                <div class=" my-auto">
                    <a href="#" class=" text-blue-600">
                        Details
                       </a>

                </div>

            </div>
            <div class="snap-start scroll-ml-16  w-[36rem]  sm:w-auto  grid grid-cols-4 lg:grid-cols-6   border-l-4 border-transparent hover:border-blue-600 p-3 font-medium text-gray-600 dark:text-neutral-200 hover:bg-gray-100 dark:hover:bg-gray-700">
               
                <div class=" flex col-span-2 gap-2 my-auto">
                    <input type="checkbox" name="" id=""/>
                    <p class=" bg-green-500 ml-6 rounded-full w-10 h-10 inline-flex justify-center items-center text-center  text-white"> LK</p>
                    <p class=" my-auto dark:text-neutral-100">Lois Kate</p>


                </div>
                <div class=" flex gap-2 my-auto">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class=" w-6 h-6 " xmlns="http://www.w3.org/2000/svg"><path d="M448 336v-40L288 192V79.2c0-17.7-14.8-31.2-32-31.2s-32 13.5-32 31.2V192L64 296v40l160-48v113.6l-48 31.2V464l80-16 80 16v-31.2l-48-31.2V288l160 48z"></path></svg>

                    <p>Annual leave</p>
                   
                   
                </div>
                <div class=" col-span-2 ml-2 my-auto  gap-1 hidden lg:flex">
                    Thu Mar 26 2021
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="w-4 h-4 my-auto"  xmlns="http://www.w3.org/2000/svg"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z"></path></svg>
                      
                       Fri Mar 28 2021
                </div>
                <div class=" my-auto">
                    <a href="#" class=" text-blue-600">
                        Details
                       </a>

                </div>

            </div>
            <div class="snap-start scroll-ml-16  w-[36rem]  sm:w-auto  grid grid-cols-4 lg:grid-cols-6    border-l-4 border-transparent hover:border-blue-600 p-3 font-medium text-gray-600 dark:text-neutral-200 hover:bg-gray-100 dark:hover:bg-gray-700">
               
                <div class=" flex col-span-2 gap-2 my-auto">
                    <input type="checkbox" name="" id=""/>
                    <p class=" bg-indigo-500 ml-6 rounded-full w-10 h-10 inline-flex justify-center items-center text-center  text-white"> BW</p>
                    <p class=" my-auto dark:text-neutral-100">Bruce Wyane</p>


                </div>
                <div class=" flex gap-2 my-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
                      </svg>
                    
                    <p>Remote</p>
                   
                   
                </div>
                <div class=" col-span-2 ml-2 my-auto  gap-1 hidden lg:flex">
                    Thu Mar 26 2021
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="w-4 h-4 my-auto"  xmlns="http://www.w3.org/2000/svg"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z"></path></svg>
                      
                       Fri Mar 28 2021
                </div>
                <div class=" my-auto">
                    <a href="#" class=" text-blue-600">
                        Details
                       </a>

                </div>

            </div>
            <div class="snap-start scroll-ml-16  w-[36rem]  sm:w-auto  grid grid-cols-4 lg:grid-cols-6  border-l-4 border-transparent hover:border-blue-600 p-3 font-medium text-gray-600 dark:text-neutral-200 hover:bg-gray-100 dark:hover:bg-gray-700">
               
                <div class=" flex col-span-2 gap-2 my-auto">
                    <input type="checkbox" name="" id=""/>
                    <p class=" bg-indigo-500 ml-6 rounded-full w-10 h-10 inline-flex justify-center items-center text-center  text-white"> DW</p>
                    <p class=" my-auto dark:text-neutral-100">Damien Wyane</p>


                </div>
                <div class=" flex gap-2 my-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
                      </svg>
                    
                    <p>Remote</p>
                   
                   
                </div>
                <div class=" col-span-2 ml-2 my-auto  gap-1 hidden lg:flex">
                    Thu Mar 26 2021
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="w-4 h-4 my-auto"  xmlns="http://www.w3.org/2000/svg"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z"></path></svg>
                      
                       Fri Mar 28 2021
                </div>
                <div class=" my-auto">
                    <a href="#" class=" text-blue-600">
                        Details
                       </a>

                </div>

            </div>
            <div class="snap-start scroll-ml-16  w-[36rem]  sm:w-auto  grid grid-cols-4 lg:grid-cols-6    border-l-4 border-transparent hover:border-blue-600 p-3 font-medium text-gray-600 dark:text-neutral-200 hover:bg-gray-100 dark:hover:bg-gray-700">
               
                <div class=" flex col-span-2 gap-2 my-auto">
                    <input type="checkbox" name="" id=""/>
                    <p class=" bg-purple-500 ml-6 rounded-full w-10 h-10 inline-flex justify-center items-center text-center  text-white"> PS</p>
                    <p class=" my-auto dark:text-neutral-100">Pricency Samuel</p>


                </div>
                <div class=" flex gap-2 my-auto">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class=" w-6 h-6 " xmlns="http://www.w3.org/2000/svg"><path d="M448 336v-40L288 192V79.2c0-17.7-14.8-31.2-32-31.2s-32 13.5-32 31.2V192L64 296v40l160-48v113.6l-48 31.2V464l80-16 80 16v-31.2l-48-31.2V288l160 48z"></path></svg>

                    <p>Annual leave</p>
                   
                   
                </div>
                <div class=" col-span-2 ml-2 my-auto  gap-1 hidden lg:flex">
                    Thu Mar 26 2021
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="w-4 h-4 my-auto"  xmlns="http://www.w3.org/2000/svg"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z"></path></svg>
                      
                       Fri Mar 28 2021
                </div>
                <div class=" my-auto">
                    <a href="#" class=" text-blue-600">
                        Details
                       </a>

                </div>

            </div>



    </section>
    
</body>
</html>