<html lang="en" class=" ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 dark:bg-gray-900">
    <section class=" max-w-5xl mx-auto px-5 xl:px-0  ">
        <div class=" bg-white pb-5 dark:bg-gray-900 overflow-x-scroll sm:overflow-x-hidden snap-x   rounded-lg shadow-lg  mt-20">
            <div class=" snap-start scroll-ml-16  w-[36rem]  sm:w-auto    grid grid-cols-4 lg:grid-cols-6   p-3 rounded-t-lg text-base font-bold text-gray-900 bg-gray-200 dark:bg-gray-800  dark:text-blue-600">
                <div>
                    Type
                   
                </div>
                <div class=" col-span-2 ml-2 hidden lg:block">
                    Requested Due Dates

                </div>
                <div>
                    Time Period

                </div>
                <div>
                    Status

                </div>
                <div>
                    Information
                    
                </div>

            </div>
            <div class=" snap-start scroll-ml-16  w-[36rem]  sm:w-auto    grid  grid-cols-4 lg:grid-cols-6   border-b-2  text-gray-600 font-medium p-3 antialiased rounded-t-lg text-base dark:border-gray-700 dark:text-neutral-200  ">
                <div class=" flex gap-2">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class=" w-6 h-6 " xmlns="http://www.w3.org/2000/svg"><path d="M448 336v-40L288 192V79.2c0-17.7-14.8-31.2-32-31.2s-32 13.5-32 31.2V192L64 296v40l160-48v113.6l-48 31.2V464l80-16 80 16v-31.2l-48-31.2V288l160 48z"></path></svg>

                    <p>Annual leave</p>
                   
                   
                </div>
                <div class=" col-span-2 ml-2  gap-1 hidden lg:flex">
                    Thu Mar 26 2021
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="w-3 h-3 my-auto"  xmlns="http://www.w3.org/2000/svg"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z"></path></svg>
                      
                       Fri Mar 28 2021
                </div>
                <div>
                    2 days

                </div>
                <div>
                    <a href="#" class=" bg-gray-300 text-gray-700 dark:bg-gray-700 dark:text-gray-400 p-1 px-3 rounded-lg">
                        Pending
                    </a>

                </div>
                <div>
                   <a href="#" class=" text-blue-600">
                    Details
                   </a>
                    
                </div>

            </div>
            <div class="snap-start scroll-ml-16  w-[36rem]  sm:w-auto      grid  grid-cols-4 lg:grid-cols-6   border-b-2  text-gray-600 font-medium p-3 antialiased rounded-t-lg text-base dark:border-gray-700 dark:text-neutral-200  ">
                <div class=" flex gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
                      </svg>
                      

                    <p>Remote</p>
                   
                   
                </div>
                <div class=" col-span-2 ml-2 hidden lg:flex gap-1">
                    Thu Mar 26 2021
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="w-3 h-3 my-auto"  xmlns="http://www.w3.org/2000/svg"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z"></path></svg>
                      
                       Fri Mar 28 2021
                </div>
                <div>
                    2 days

                </div>
                <div>
                    <a href="#" class=" bg-gray-300 text-gray-700 dark:bg-gray-700 dark:text-gray-400 p-1 px-3 rounded-lg">
                        Pending
                    </a>


                </div>
                <div>
                   <a href="#" class=" text-blue-600">
                    Details
                   </a>
                    
                </div>

            </div>
            <div class=" snap-start scroll-ml-16  w-[36rem]  sm:w-auto   grid  grid-cols-4 lg:grid-cols-6   border-b-2  text-gray-600 font-medium  p-3 antialiased rounded-t-lg text-base dark:border-gray-700 dark:text-neutral-200  ">
                <div class=" flex gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
                      </svg>
                      

                    <p>Remote</p>
                   
                   
                </div>
                <div class=" col-span-2 ml-2 hidden lg:flex gap-1">
                    Thu Mar 26 2021
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="w-3 h-3 my-auto"  xmlns="http://www.w3.org/2000/svg"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z"></path></svg>
                      
                       Fri Mar 28 2021
                </div>
                <div>
                    2 days

                </div>
                <div>
                    <a href="#" class=" text-white bg-green-600/95  p-1 px-3 rounded-lg">
                        Approved
                    </a>

                </div>
                <div>
                   <a href="#" class=" text-blue-600">
                    Details
                   </a>
                    
                </div>

            </div>
            <div class="  snap-start scroll-ml-16  w-[36rem]  sm:w-auto  grid  grid-cols-4 lg:grid-cols-6  border-b-2  text-gray-600 font-medium p-3 antialiased rounded-t-lg text-base dark:border-gray-700 dark:text-neutral-200  ">
                <div class=" flex gap-2">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class=" w-6 h-6 " xmlns="http://www.w3.org/2000/svg"><path d="M448 336v-40L288 192V79.2c0-17.7-14.8-31.2-32-31.2s-32 13.5-32 31.2V192L64 296v40l160-48v113.6l-48 31.2V464l80-16 80 16v-31.2l-48-31.2V288l160 48z"></path></svg>

                    <p>Annual leave</p>
                   
                   
                </div>
                <div class=" col-span-2 ml-2 hidden lg:flex gap-1">
                    Thu Mar 26 2021
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="w-3 h-3 my-auto"  xmlns="http://www.w3.org/2000/svg"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z"></path></svg>
                      
                       Fri Mar 28 2021
                </div>
                <div>
                    2 days

                </div>
                <div>
                    <a href="#" class=" text-white bg-green-600/95  p-1 px-3 rounded-lg">
                        Approved
                    </a>
                   
                </div>
                <div>
                   <a href="#" class=" text-blue-600">
                    Details
                   </a>
                    
                </div>

            </div>

            <div class=" snap-start scroll-ml-16  w-[36rem]  sm:w-auto   grid  grid-cols-4 lg:grid-cols-6  sm:border-b-2  text-gray-600 font-medium  p-3 antialiased rounded-t-lg text-base dark:border-gray-700 dark:text-neutral-200  ">
                <div class=" flex gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
                      </svg>
                      

                    <p>Remote</p>
                   
                   
                </div>
                <div class=" col-span-2 ml-2 hidden lg:flex gap-1">
                    Thu Mar 26 2021
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="w-3 h-3 my-auto"  xmlns="http://www.w3.org/2000/svg"><path d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z"></path></svg>
                      
                       Fri Mar 28 2021
                </div>
                <div>
                    2 days

                </div>
                <div>
                    <a href="#" class=" text-white bg-red-500  p-1 px-3 rounded-lg">
                        Declined
                    </a>

                </div>
                <div>
                   <a href="#" class=" text-blue-600">
                    Details
                   </a>
                    
                </div>

            </div>
          
            

        </div>


    </section>
    
</body>
</html>