<html lang="en" class=" ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table 4</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body class=" dark:bg-gray-900">
    <section class="max-w-5xl mx-auto">

        <div class=" mt-28 px-5 xl:px-0 overflow-x-scroll sm:overflow-x-hidden snap-x">
            <div class="snap-start scroll-ml-16  w-[53rem] sm:w-auto grid grid-cols-4 p-3 border-b-2 dark:border-gray-800 font-bold text-blue-600 ">
                <div class=" gap-2 flex">
                    <input type="checkbox" name="" id=""/>
                   <p >Name</p>

                </div>
                <div>
                    Role

                </div>
                <div class="">
                    Pay rate & Bill rate

                </div>
                <div class=" text-right">
                    Actions

                </div>


            </div>
            <div class="snap-start scroll-ml-16  w-[53rem] sm:w-auto  grid grid-cols-4 p-3 border-b dark:border-gray-800 text-gray-600 dark:text-gray-300">
                <div class=" gap-2 flex font-medium">
                    <input type="checkbox"  name="" id=""/>
                    <img src="https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="w-11 h-11 rounded-full object-cover"/>
                   <p class=" my-auto">Federica Alison</p>

                </div>
                <div class=" my-auto">
                    <button class=" border dark:border-gray-800 p-1 rounded-lg font-normal subpixel-antialiased ">
                    <select name="" id="" class=" p-1 pr-10   focus:outline-none  bg-transparent ">
                        <option value="">Manager </option>
                        <option value=""> User</option>
                         <option value="">Salary </option>
                    </select>
                    </button>
                    

                </div>
                <div class="my-auto flex gap-2">
                    <p class=" my-auto inline-flex  ">No pay rate <span class="hidden xl:block ml-0.5"> & No Bill rate</span> </p>
                    <button class=" border p-1.5 text-sm font-medium text-gray-800 px-4 rounded-lg hover:text-blue-600 hover:bg-blue-100 active:bg-blue-600 active:text-white transition-all ease-in-out duration-300 dark:border-gray-800 dark:text-gray-100 dark:hover:bg-blue-700 "> Edit</button>
                    

                </div>
                <div class=" text-right my-auto">
                    <button class=" dark:text-gray-100 dark:hover:bg-blue-700 border p-1.5 text-sm font-medium dark:border-gray-800  text-gray-800 px-4 rounded-lg hover:text-blue-600 hover:bg-blue-100 active:bg-blue-600 active:text-white transition-all ease-in-out duration-300"> Remove member</button>
                </div>


            </div>
            <div class="snap-start scroll-ml-16  w-[53rem] sm:w-auto  grid grid-cols-4 p-3 border-b dark:border-gray-800 text-gray-600 dark:text-gray-300">
                <div class=" gap-2 flex font-medium">
                    <input type="checkbox"  name="" id=""/>
                    <img src="https://images.unsplash.com/photo-1499952127939-9bbf5af6c51c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="w-11 h-11 rounded-full object-cover"/>
                   <p class=" my-auto">Kelly Shimla</p>

                </div>
                <div class=" my-auto">
                    <button class=" border dark:border-gray-800 p-1 rounded-lg font-normal subpixel-antialiased ">
                    <select name="" id="" class=" p-1 pr-10   focus:outline-none  bg-transparent ">
                        <option value="">Manager </option>
                        <option value=""> User</option>
                         <option value="">Salary </option>
                    </select>
                    </button>
                    

                </div>
                <div class="my-auto flex gap-2">
                    <p class=" my-auto inline-flex  ">No pay rate <span class="hidden xl:block ml-0.5"> & No Bill rate</span> </p>
                    <button class=" border p-1.5 text-sm font-medium text-gray-800 px-4 rounded-lg hover:text-blue-600 hover:bg-blue-100 active:bg-blue-600 active:text-white transition-all ease-in-out duration-300 dark:border-gray-800 dark:text-gray-100 dark:hover:bg-blue-700 "> Edit</button>
                    

                </div>
                <div class=" text-right my-auto">
                    <button class=" dark:text-gray-100 dark:hover:bg-blue-700 border p-1.5 text-sm font-medium dark:border-gray-800  text-gray-800 px-4 rounded-lg hover:text-blue-600 hover:bg-blue-100 active:bg-blue-600 active:text-white transition-all ease-in-out duration-300"> Remove member</button>
                </div>


            </div>
            <div class="snap-start scroll-ml-16  w-[53rem] sm:w-auto  grid grid-cols-4 p-3 border-b dark:border-gray-800 text-gray-600 dark:text-gray-300">
                <div class=" gap-2 flex font-medium">
                    <input type="checkbox"  name="" id=""/>
                    <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDZ8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="w-11 h-11 rounded-full object-cover"/>
                   <p class=" my-auto">Michael Austin</p>

                </div>
                <div class=" my-auto">
                    <button class=" border dark:border-gray-800 p-1 rounded-lg font-normal subpixel-antialiased ">
                    <select name="" id="" class=" p-1 pr-10   focus:outline-none  bg-transparent ">
                        <option value="">Manager </option>
                        <option value=""> User</option>
                         <option value="">Salary </option>
                    </select>
                    </button>
                    

                </div>
                <div class="my-auto flex gap-2">
                    <p class=" my-auto inline-flex  ">No pay rate <span class="hidden xl:block ml-0.5"> & No Bill rate</span> </p>
                    <button class=" border p-1.5 text-sm font-medium text-gray-800 px-4 rounded-lg hover:text-blue-600 hover:bg-blue-100 active:bg-blue-600 active:text-white transition-all ease-in-out duration-300 dark:border-gray-800 dark:text-gray-100 dark:hover:bg-blue-700 "> Edit</button>
                    

                </div>
                <div class=" text-right my-auto">
                    <button class=" dark:text-gray-100 dark:hover:bg-blue-700 border p-1.5 text-sm font-medium dark:border-gray-800  text-gray-800 px-4 rounded-lg hover:text-blue-600 hover:bg-blue-100 active:bg-blue-600 active:text-white transition-all ease-in-out duration-300"> Remove member</button>
                </div>


            </div>
            <div class="snap-start scroll-ml-16  w-[53rem] sm:w-auto  grid grid-cols-4 p-3 border-b dark:border-gray-800 text-gray-600 dark:text-gray-300">
                <div class=" gap-2 flex font-medium">
                    <input type="checkbox"  name="" id=""/>
                    <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="w-11 h-11 rounded-full object-cover"/>
                   <p class=" my-auto">Angelio Evens</p>

                </div>
                <div class=" my-auto">
                    <button class=" border dark:border-gray-800 p-1 rounded-lg font-normal subpixel-antialiased ">
                    <select name="" id="" class=" p-1 pr-10   focus:outline-none  bg-transparent ">
                        <option value="">Manager </option>
                        <option value=""> User</option>
                         <option value="">Admin </option>
                    </select>
                    </button>
                    

                </div>
                <div class="my-auto flex gap-2">
                    <p class=" my-auto inline-flex  ">No pay rate <span class="hidden xl:block ml-0.5"> & No Bill rate</span> </p>
                    <button class=" border p-1.5 text-sm font-medium text-gray-800 px-4 rounded-lg hover:text-blue-600 hover:bg-blue-100 active:bg-blue-600 active:text-white transition-all ease-in-out duration-300 dark:border-gray-800 dark:text-gray-100 dark:hover:bg-blue-700 "> Edit</button>
                    

                </div>
                <div class=" text-right my-auto">
                    <button class=" dark:text-gray-100 dark:hover:bg-blue-700 border p-1.5 text-sm font-medium dark:border-gray-800  text-gray-800 px-4 rounded-lg hover:text-blue-600 hover:bg-blue-100 active:bg-blue-600 active:text-white transition-all ease-in-out duration-300"> Remove member</button>
                </div>


            </div>
            <div class="snap-start scroll-ml-16  w-[53rem] sm:w-auto  grid grid-cols-4 p-3 border-b dark:border-gray-800 text-gray-600 dark:text-gray-300">
                <div class=" gap-2 flex font-medium">
                    <input type="checkbox"  name="" id=""/>
                    <img src="https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="w-11 h-11 rounded-full object-cover"/>
                   <p class=" my-auto">Federica Alison</p>

                </div>
                <div class=" my-auto">
                    <button class=" border dark:border-gray-800 p-1 rounded-lg font-normal subpixel-antialiased ">
                    <select name="" id="" class=" p-1 pr-10   focus:outline-none  bg-transparent ">
                        <option value="">Manager </option>
                        <option value=""> User</option>
                         <option value="">Salary </option>
                    </select>
                    </button>
                    

                </div>
                <div class="my-auto flex gap-2">
                    <p class=" my-auto inline-flex  ">No pay rate <span class="hidden xl:block ml-0.5"> & No Bill rate</span> </p>
                    <button class=" border p-1.5 text-sm font-medium text-gray-800 px-4 rounded-lg hover:text-blue-600 hover:bg-blue-100 active:bg-blue-600 active:text-white transition-all ease-in-out duration-300 dark:border-gray-800 dark:text-gray-100 dark:hover:bg-blue-700 "> Edit</button>
                    

                </div>
                <div class=" text-right my-auto">
                    <button class=" dark:text-gray-100 dark:hover:bg-blue-700 border p-1.5 text-sm font-medium dark:border-gray-800  text-gray-800 px-4 rounded-lg hover:text-blue-600 hover:bg-blue-100 active:bg-blue-600 active:text-white transition-all ease-in-out duration-300"> Remove member</button>
                </div>


            </div>

        </div>
        
    </section>
    
</body>
</html>